@charset "UTF-8";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');

:root {
    /* ------ */
    --icon-title-color: #000;
    --title-color: #000;
    --menu-color: #000;
    --border-menu-color: #6c6368;
    --bg-img-login: #000;
    --color-login-icon: #000;
    --color-login-text: #000;
    --search-bg: #fff;
    --search-btn-bg: #000;
    --search-btn-color: #fff;
    --color-icons: #000;

}

/* reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'Sono', sans-serif;
}

/* HEADER */
header.main {
    background-color: #a69e80;
    border: 1px solid transparent;
    padding-bottom: 12px;
}

header.main > .limiter {
    max-width: 1200px;
    margin: auto;
}

header.main > .limiter > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

header.main > .limiter > .container > .title {
    display: flex;
    align-items: center;
}

header.main > .limiter > .container > .title > .icon > ion-icon {
    font-size: 22px;
    color: var(--icon-title-color);
}

header.main > .limiter > .container > .title {
    color: var(--title-color);
}

header.main > .limiter > .container > .menu > ul {
    display: flex;
    list-style: none;
    gap: 12px;
}

header.main > .limiter > .container > .menu > ul > li {
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    color: var(--menu-color);
}

/*  Menu mobile  */
header.main > .limiter > .container:nth-child(2) {
    margin: auto;
    margin-top: 6px;
}

header.main > .limiter > .container > .menu > .toggle {
    display: none;
}

header.main > .limiter > .container > .menu > .toggle > div {
    width: 20px;
    height: 2px;
    background-color: #000;
}

header.main > .limiter > .container > .menu > .toggle > *:not(div:nth-child(1)) {
    margin-top: 4px;
}

/*  Header 2  */
header.main > .limiter > .container > .login > .profile {
    display: flex;
    align-items: center;
    gap: 12px;
}

header.main > .limiter > .container > .login > .profile > .img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--bg-img-login);
    display: flex;
    justify-content: center;
    align-items: center;
}

header.main > .limiter > .container > .login > .profile > .img > ion-icon {
    font-size: 20px;
    color: #fff;
}

header.main > .limiter > .container > .login > .profile > .name {
    cursor: pointer;
    color: var(--color-login-text);
}

header.main > .limiter > .container > .actions {
    display: flex;
    gap: 12px;
    align-items: center;
}

header.main > .limiter > .container > .actions > * {
    font-size: 20px;
}

header.main > .limiter > .container > .actions > .input {
    height: 30px;
    position: relative;
    display: flex;
}

header.main > .limiter > .container > .actions > .input > input {
    outline: none;
    border: none;
    padding: 0 12px;
    height: 100%;
    background-color: var(--search-bg);
}

header.main > .limiter > .container > .actions > .input > button {
    height: 100%;
    width: 60px;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--search-btn-bg);
    color: var(--search-btn-color);
    cursor: pointer;
}

section.banner {
    background-color: #464338;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    min-height: 70px;
    color: #fff;
}


/* Hovers */
header.main > .limiter > .container > .menu > ul > li:hover {
    border-bottom-color: var(--border-menu-color);
}